<div class="container">
  <!-- <h1 class="text-center">{{title}}</h1>
  <h3 appMyColor>{{message}}</h3>
  <br>
  <br> -->
  <form [formGroup]="formLogin" (ngSubmit)="Login()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>UserName</mat-label>
      <input id="first-name" class="col-6" type="text" matInput
        formControlName="username" [errorStateMatcher]="matcher1" />
      <mat-error *ngIf="formLogin.controls.username.hasError('required')">
        *add <strong>UserName!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input class="col-6" id="last-name" type="password" matInput
        formControlName="password" [errorStateMatcher]="matcher1" />
      <mat-error
        *ngIf="formLogin.controls.password.hasError('minLength')!=null">
        *Password must be at least 8 characters
      </mat-error>
      <mat-error *ngIf="formLogin.controls.password.hasError('required')">
        *add <strong>Password!</strong>
      </mat-error>
    </mat-form-field>
    <br>
    <br>
    <button type="submit" class="btn btn-outline-danger text-center"   [disabled]="!formLogin.valid"> Login</button>
  </form>
</div>
